

body {
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: 2rem 30rem 1fr 6rem;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
}

header {
    color: aliceblue;
    display: flex;
    flex-direction:column;
    justify-content: end;
    padding-left: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)), url(images/mirror_lake.jpg);
}



header figcaption {
    background-color: rgba(0, 0, 0, 0.6);
    align-self: end;
}

header figcaption a {
    color: white;
}

aside {
    float: right;
    height: min-content;
    width: 20vw;
    margin: 1rem 0 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid black
}

aside img {
    width: 100%;
}

aside figcaption {
    font-size: .6rem;
}

aside figcaption a {
    color: blue;
}

aside p {
    margin-bottom: 0;
}




