* {
    box-sizing: border-box;
}
body {
    background-color: black;
}

nav {
    background-color: white;
}

nav ul {
    margin: 0;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 1rem;
}

nav a {
    font-weight: 900;
    text-decoration: none;
}

nav a:visited {
    color: blue;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: blueviolet;
}

section {
    min-height: 100%;
    background-color: orange;
}

footer {
    grid-area: footer;
    background-color: brown;
}
