* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


html {
    background-color: white;
}
body {
    background-color: white;
    max-width: 1280px;
    margin: auto;
}

nav {
    background-color: white;
    height: 2rem;
    width: 100%;
}

nav ul {
    margin: 0;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 1rem;
}

nav a {
    font-weight: 900;
    text-decoration: none;
}

nav a:visited {
    color: blue;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
    background-color: blue;
}

h1 {
    font-size: 6rem;
    font-weight: 500;
    text-decoration: underline 4px;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0rem;
}

h3 {
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 0;
}

h4 {
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 0;
}

main {
    grid-area: main;
    background-color: white;
    padding: 0 1rem;
}

section {
    min-height: 100%;
}

footer {
    grid-area: footer;
    border-top: 2px solid black;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th {
    font-weight: 900;
    text-align: left;
    padding: .5rem 1rem;
}

.tabletop {
    text-align: center;
}

td {
    text-align: center;
    border-bottom: 1px solid black;
}

tr:last-child td {
    border-bottom: none;
}

.score {
    background-color: yellow;
}